* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
 
}
.container {
    margin-top:  15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    padding: 0;
    box-shadow: -5px 5px 20px 5px rgb(114, 113, 113);
}

header {
    height: 100%;
    margin: auto;
    padding: 1rem;
    background-color: rgb(126, 214, 214); 
    width: auto;
    height: 100px;
    text-align: center;

}
.foto {
    float: left; 
    background-color: rgb(126, 214, 214); 
    box-shadow: 10px 10px 5px grey;
    border: 3px solid #3db5d8;
    padding: 20px;
    margin-bottom: 20px;
        
}

aside {

    padding: 30px;
    background-color:rgb(126, 214, 214) ;
    float: left;

    text-indent: 15px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.all {

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 20px;
    margin: auto;
    background-color: rgb(223, 236, 236); 
    width: auto;
    padding: 10px 30px 20px;



}

.footer { 

    height: 100%;
    margin: auto;
    padding: 1rem;
    background-color: rgb(126, 214, 214); 
    width: auto;
    height: 100px;
    text-align: center;
    
}
